# Virtual Environment
venv/
__pycache__/
*.pyc

# PDF directory contents
pdf/*
!pdf/pdfs go here

# ChromaDB persistence directory contents
docs/chroma/*
!docs/chroma/database goes here

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env 